In [2]:
import pandas as pd
import awswrangler as wr
import os
from titlecase import titlecase

In [3]:
queryString = """
            WITH job_trasactions AS (
            SELECT jpt.created_at, credit_type, job_id
            FROM report_glue_db_stg.job_property_company_transactions jpt
            JOIN report_glue_db_stg.property_company_transactions pt on pt.property_company_transaction_id = jpt.property_company_transaction_id
            UNION
            SELECT jpt.created_at, credit_type, job_id
            FROM report_glue_db_stg.job_property_transactions jpt
            JOIN report_glue_db_stg.property_transactions pt ON pt.property_transaction_id = jpt.property_transaction_id
        ),


        job_company_property AS (
            SELECT jpt.created_at, credit_type, jobs.job_id, prop.property_id, prop.name property_name, c.name company_name, c.company_id,
            jobs.title, jobs.state, jobs.city, jobs.archive, jobs.post_end_date, jobs.created_at job_created_date, jobs.auto_renew, jobs.description,
            jobs.employment_type, jobs.experience_level, jobs.external_link, jobs.is_anonymous, jobs.requirements, jobs.source, jobs.assessment_id
            FROM job_trasactions jpt
            JOIN report_glue_db_stg.jobs jobs on jobs.job_id = jpt.job_id
            JOIN report_glue_db_stg.properties prop ON prop.property_id = jobs.property_id
            JOIN report_glue_db_stg.companies c on c.company_id = prop.company_id
            order by jobs.job_id
    )

        SELECT * from job_company_property WHERE city IN ('Atlanta', 'ATLANTA') limit 200
    """
print(queryString)

            WITH job_trasactions AS (
            SELECT jpt.created_at, credit_type, job_id
            FROM report_glue_db_stg.job_property_company_transactions jpt
            JOIN report_glue_db_stg.property_company_transactions pt on pt.property_company_transaction_id = jpt.property_company_transaction_id
            UNION
            SELECT jpt.created_at, credit_type, job_id
            FROM report_glue_db_stg.job_property_transactions jpt
            JOIN report_glue_db_stg.property_transactions pt ON pt.property_transaction_id = jpt.property_transaction_id
        ),


        job_company_property AS (
            SELECT jpt.created_at, credit_type, jobs.job_id, prop.property_id, prop.name property_name, c.name company_name, c.company_id,
            jobs.title, jobs.state, jobs.city, jobs.archive, jobs.post_end_date, jobs.created_at job_created_date, jobs.auto_renew, jobs.description,
            jobs.employment_type, jobs.experience_level, jobs.external_link, jobs.is_anonymous, jobs.requirements, jobs.source, jobs.assessment_id
            FROM job_trasactions jpt
            JOIN report_glue_db_stg.jobs jobs on jobs.job_id = jpt.job_id
            JOIN report_glue_db_stg.properties prop ON prop.property_id = jobs.property_id
            JOIN report_glue_db_stg.companies c on c.company_id = prop.company_id
            order by jobs.job_id
    )

        SELECT * from job_company_property WHERE city IN ('Atlanta', 'ATLANTA') limit 200

In [4]:
#job_list_pd = wr.athena.read_sql_query(queryString, database="report_glue_db_stg", ctas_approach=True, chunksize=1000)
job_list_pd = wr.athena.read_sql_query(queryString, database="report_glue_db_stg", ctas_approach=True, chunksize=10)

In [5]:
filep='s3://virgilholdings-data-pipeline-tasks-stg-output/jinita-exploration/job_list/job-file-v2/'
file_count=0
file_name='jobs'
file_ext='.parquet'

In [6]:

for chunk in job_list_pd:
    file_count = file_count + 1
    parquet_file = f'{filep}{file_name}{file_count}{file_ext}'
    print(parquet_file)
    print(f'BEFORE: {chunk.city.to_string()}')
    print(f'AFTER: {titlecase(chunk.city.to_string())}')

#    wr.s3.to_parquet(
#        df=chunk,
#       path=parquet_file,
#       dataset=True,
#       database="report_glue_db_stg",
#       table="temp_job_list"
#   )

s3://virgilholdings-data-pipeline-tasks-stg-output/jinita-exploration/job_list/job-file-v2/jobs1.parquet
BEFORE: 0    Atlanta
1    Atlanta
2    Atlanta
3    Atlanta
4    Atlanta
5    Atlanta
6    Atlanta
7    Atlanta
8    Atlanta
9    Atlanta
AFTER: 0    Atlanta
1    Atlanta
2    Atlanta
3    Atlanta
4    Atlanta
5    Atlanta
6    Atlanta
7    Atlanta
8    Atlanta
9    Atlanta
s3://virgilholdings-data-pipeline-tasks-stg-output/jinita-exploration/job_list/job-file-v2/jobs2.parquet
BEFORE: 10    Atlanta
11    Atlanta
12    Atlanta
13    Atlanta
14    Atlanta
15    Atlanta
16    Atlanta
17    Atlanta
18    Atlanta
19    Atlanta
AFTER: 10    Atlanta
11    Atlanta
12    Atlanta
13    Atlanta
14    Atlanta
15    Atlanta
16    Atlanta
17    Atlanta
18    Atlanta
19    Atlanta
s3://virgilholdings-data-pipeline-tasks-stg-output/jinita-exploration/job_list/job-file-v2/jobs3.parquet
BEFORE: 20    Atlanta
21    Atlanta
22    Atlanta
23    Atlanta
24    Atlanta
25    Atlanta
26    Atlanta
27    Atlanta
28    Atlanta
29    Atlanta
AFTER: 20    Atlanta
21    Atlanta
22    Atlanta
23    Atlanta
24    Atlanta
25    Atlanta
26    Atlanta
27    Atlanta
28    Atlanta
29    Atlanta
s3://virgilholdings-data-pipeline-tasks-stg-output/jinita-exploration/job_list/job-file-v2/jobs4.parquet
BEFORE: 30    Atlanta
31    Atlanta
32    Atlanta
33    Atlanta
34    Atlanta
35    Atlanta
36    Atlanta
37    Atlanta
38    Atlanta
39    Atlanta
AFTER: 30    Atlanta
31    Atlanta
32    Atlanta
33    Atlanta
34    Atlanta
35    Atlanta
36    Atlanta
37    Atlanta
38    Atlanta
39    Atlanta
s3://virgilholdings-data-pipeline-tasks-stg-output/jinita-exploration/job_list/job-file-v2/jobs5.parquet
BEFORE: 40    Atlanta
41    Atlanta
42    Atlanta
43    Atlanta
44    Atlanta
45    Atlanta
46    Atlanta
47    Atlanta
48    Atlanta
49    Atlanta
AFTER: 40    Atlanta
41    Atlanta
42    Atlanta
43    Atlanta
44    Atlanta
45    Atlanta
46    Atlanta
47    Atlanta
48    Atlanta
49    Atlanta
s3://virgilholdings-data-pipeline-tasks-stg-output/jinita-exploration/job_list/job-file-v2/jobs6.parquet
BEFORE: 50    Atlanta
51    Atlanta
52    Atlanta
53    Atlanta
54    Atlanta
55    Atlanta
56    Atlanta
57    Atlanta
58    Atlanta
59    Atlanta
AFTER: 50    Atlanta
51    Atlanta
52    Atlanta
53    Atlanta
54    Atlanta
55    Atlanta
56    Atlanta
57    Atlanta
58    Atlanta
59    Atlanta
s3://virgilholdings-data-pipeline-tasks-stg-output/jinita-exploration/job_list/job-file-v2/jobs7.parquet
BEFORE: 60    Atlanta
0     Atlanta
1     Atlanta
2     Atlanta
3     Atlanta
4     Atlanta
5     Atlanta
6     Atlanta
7     Atlanta
8     Atlanta
AFTER: 60    Atlanta
0     Atlanta
1     Atlanta
2     Atlanta
3     Atlanta
4     Atlanta
5     Atlanta
6     Atlanta
7     Atlanta
8     Atlanta
s3://virgilholdings-data-pipeline-tasks-stg-output/jinita-exploration/job_list/job-file-v2/jobs8.parquet
BEFORE: 9     Atlanta
10    Atlanta
11    Atlanta
12    Atlanta
13    Atlanta
14    Atlanta
15    Atlanta
16    Atlanta
17    Atlanta
18    Atlanta
AFTER: 9     Atlanta
10    Atlanta
11    Atlanta
12    Atlanta
13    Atlanta
14    Atlanta
15    Atlanta
16    Atlanta
17    Atlanta
18    Atlanta
s3://virgilholdings-data-pipeline-tasks-stg-output/jinita-exploration/job_list/job-file-v2/jobs9.parquet
BEFORE: 19    Atlanta
20    Atlanta
21    Atlanta
22    Atlanta
23    Atlanta
24    Atlanta
25    Atlanta
26    Atlanta
27    Atlanta
28    Atlanta
AFTER: 19    Atlanta
20    Atlanta
21    Atlanta
22    Atlanta
23    Atlanta
24    Atlanta
25    Atlanta
26    Atlanta
27    Atlanta
28    Atlanta
s3://virgilholdings-data-pipeline-tasks-stg-output/jinita-exploration/job_list/job-file-v2/jobs10.parquet
BEFORE: 29    Atlanta
30    Atlanta
31    Atlanta
32    Atlanta
33    Atlanta
34    Atlanta
35    Atlanta
36    Atlanta
37    Atlanta
38    Atlanta
AFTER: 29    Atlanta
30    Atlanta
31    Atlanta
32    Atlanta
33    Atlanta
34    Atlanta
35    Atlanta
36    Atlanta
37    Atlanta
38    Atlanta
s3://virgilholdings-data-pipeline-tasks-stg-output/jinita-exploration/job_list/job-file-v2/jobs11.parquet
BEFORE: 39    Atlanta
40    Atlanta
41    Atlanta
0     Atlanta
1     Atlanta
2     Atlanta
3     Atlanta
4     Atlanta
5     Atlanta
6     Atlanta
AFTER: 39    Atlanta
40    Atlanta
41    Atlanta
0     Atlanta
1     Atlanta
2     Atlanta
3     Atlanta
4     Atlanta
5     Atlanta
6     Atlanta
s3://virgilholdings-data-pipeline-tasks-stg-output/jinita-exploration/job_list/job-file-v2/jobs12.parquet
BEFORE: 7     Atlanta
8     Atlanta
9     Atlanta
10    Atlanta
11    Atlanta
12    Atlanta
13    Atlanta
14    Atlanta
15    Atlanta
16    Atlanta
AFTER: 7     Atlanta
8     Atlanta
9     Atlanta
10    Atlanta
11    Atlanta
12    Atlanta
13    Atlanta
14    Atlanta
15    Atlanta
16    Atlanta
s3://virgilholdings-data-pipeline-tasks-stg-output/jinita-exploration/job_list/job-file-v2/jobs13.parquet
BEFORE: 17    Atlanta
18    Atlanta
19    Atlanta
20    Atlanta
21    Atlanta
22    Atlanta
23    Atlanta
24    Atlanta
25    Atlanta
26    Atlanta
AFTER: 17    Atlanta
18    Atlanta
19    Atlanta
20    Atlanta
21    Atlanta
22    Atlanta
23    Atlanta
24    Atlanta
25    Atlanta
26    Atlanta
s3://virgilholdings-data-pipeline-tasks-stg-output/jinita-exploration/job_list/job-file-v2/jobs14.parquet
BEFORE: 27    Atlanta
28    Atlanta
29    Atlanta
30    Atlanta
31    Atlanta
32    Atlanta
33    Atlanta
34    Atlanta
35    Atlanta
36    Atlanta
AFTER: 27    Atlanta
28    Atlanta
29    Atlanta
30    Atlanta
31    Atlanta
32    Atlanta
33    Atlanta
34    Atlanta
35    Atlanta
36    Atlanta
s3://virgilholdings-data-pipeline-tasks-stg-output/jinita-exploration/job_list/job-file-v2/jobs15.parquet
BEFORE: 37    Atlanta
38    Atlanta
39    Atlanta
40    Atlanta
41    Atlanta
42    Atlanta
43    Atlanta
44    Atlanta
45    Atlanta
46    Atlanta
AFTER: 37    Atlanta
38    Atlanta
39    Atlanta
40    Atlanta
41    Atlanta
42    Atlanta
43    Atlanta
44    Atlanta
45    Atlanta
46    Atlanta
s3://virgilholdings-data-pipeline-tasks-stg-output/jinita-exploration/job_list/job-file-v2/jobs16.parquet
BEFORE: 47    Atlanta
48    Atlanta
49    Atlanta
50    Atlanta
51    Atlanta
52    Atlanta
53    Atlanta
54    Atlanta
55    Atlanta
56    Atlanta
AFTER: 47    Atlanta
48    Atlanta
49    Atlanta
50    Atlanta
51    Atlanta
52    Atlanta
53    Atlanta
54    Atlanta
55    Atlanta
56    Atlanta
s3://virgilholdings-data-pipeline-tasks-stg-output/jinita-exploration/job_list/job-file-v2/jobs17.parquet
BEFORE: 57    Atlanta
58    Atlanta
59    Atlanta
60    Atlanta
61    Atlanta
62    Atlanta
63    Atlanta
64    Atlanta
0     Atlanta
1     Atlanta
AFTER: 57    Atlanta
58    Atlanta
59    Atlanta
60    Atlanta
61    Atlanta
62    Atlanta
63    Atlanta
64    Atlanta
0     Atlanta
1     Atlanta
s3://virgilholdings-data-pipeline-tasks-stg-output/jinita-exploration/job_list/job-file-v2/jobs18.parquet
BEFORE: 2     Atlanta
3     Atlanta
4     Atlanta
5     Atlanta
6     Atlanta
7     Atlanta
8     Atlanta
9     Atlanta
10    Atlanta
11    Atlanta
AFTER: 2     Atlanta
3     Atlanta
4     Atlanta
5     Atlanta
6     Atlanta
7     Atlanta
8     Atlanta
9     Atlanta
10    Atlanta
11    Atlanta
s3://virgilholdings-data-pipeline-tasks-stg-output/jinita-exploration/job_list/job-file-v2/jobs19.parquet
BEFORE: 12    Atlanta
13    Atlanta
14    Atlanta
15    Atlanta
16    Atlanta
17    Atlanta
18    Atlanta
19    Atlanta
20    Atlanta
21    Atlanta
AFTER: 12    Atlanta
13    Atlanta
14    Atlanta
15    Atlanta
16    Atlanta
17    Atlanta
18    Atlanta
19    Atlanta
20    Atlanta
21    Atlanta
s3://virgilholdings-data-pipeline-tasks-stg-output/jinita-exploration/job_list/job-file-v2/jobs20.parquet
BEFORE: 22    Atlanta
23    Atlanta
24    Atlanta
25    Atlanta
26    Atlanta
27    Atlanta
28    Atlanta
29    Atlanta
30    Atlanta
31    Atlanta
AFTER: 22    Atlanta
23    Atlanta
24    Atlanta
25    Atlanta
26    Atlanta
27    Atlanta
28    Atlanta
29    Atlanta
30    Atlanta
31    Atlanta